body,html{
  height: 100%;
  background: #F8F8F8;
  position: relative;
}
.newfile{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}
.workfile{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
.background{
  width: 100%;
  height: 50px;
}
.vertical_align{
  vertical-align: super;
}
.overflow_auto{
  overflow: auto;
}
.modify_left{
  margin-left: 7px;
  color: #E7B020;
}
.weui-skin_android .weui-actionsheet{
  width: 100%;
  background: #fff;
  height: 100%;
}
.weui-label{
  text-align: left;
}
.no_task{
  font-size: 24px;
  text-align: center;
  margin-top: 100px;
  color: #999;
  display: none;
}
.animation{
-webkit-animation:rotateIn 1s .2s ease both;
-moz-animation:rotateIn 1s .2s ease both;}
@-webkit-keyframes rotateIn{
0%{-webkit-transform-origin:center center;
-webkit-transform:rotate(-200deg);
opacity:0}
100%{-webkit-transform-origin:center center;
-webkit-transform:rotate(0);
opacity:1}
}
@-moz-keyframes rotateIn{
0%{-moz-transform-origin:center center;
-moz-transform:rotate(-200deg);
opacity:0}
100%{-moz-transform-origin:center center;
-moz-transform:rotate(0);
opacity:1}
}
