body,html{
  height: 100%;
  background: #F8F8F8;
  position: relative;
}
.newfile{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}
.background{
  width: 100%;
  height: 50px;
}
.vertical_align{
  vertical-align: super;
}
.overflow_auto{
  overflow: auto;
}
.modify_left{
  margin-left: 7px;
  color: #E7B020;
}
.weui-skin_android .weui-actionsheet{
  width: 100%;
}
.animation{
-webkit-animation:bounce 1s .2s ease both;
-moz-animation:bounce 1s .2s ease both;}
@-webkit-keyframes bounce{
0%,20%,50%,80%,100%{-webkit-transform:translateY(0)}
40%{-webkit-transform:translateY(-30px)}
60%{-webkit-transform:translateY(-15px)}
}
@-moz-keyframes bounce{
0%,20%,50%,80%,100%{-moz-transform:translateY(0)}
40%{-moz-transform:translateY(-30px)}
60%{-moz-transform:translateY(-15px)}
}
