body,html{
  height: 100%;
  background: #F8F8F8;
  position: relative;
}
.newfile{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}
.background{
  width: 100%;
  height: 50px;
}
.vertical_align{
  vertical-align: super;
}
